@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col title-name">
            <h1> Sua Saúde</h1>
            <div class="name-blue">
                    <h2> Nossa</h2>
                    <h1> Missão</h1>
            </div>
        </div>
        <div class="col">
            <img src="~/img/home-image.png">
        </div>
    </div>
    
</div>



<style>

</style>